/* NAVBAR STYLES */

.navbar-burger {
    display: block;
}

#logo {
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.075em;
}

@media screen and (max-width: 1023px) {
    .navbar, .navbar-item {
        display: flex;
        /* align-items: stretch; */
    }

    .navbar-start {
        justify-content: flex-end;
        margin-left: auto;
    }
    
    .navbar-end {
        justify-content: flex-start;
        margin-right: auto;
    }

    .navbar-start, .navbar-end {
        display: flex;
        align-items: stretch;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }


/* LOGIN PAGE STYLES */
.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

input.is-danger {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}